
@{
    ViewData["Title"] = "CustomException";
}

<h1>CustomException</h1>

<h1>Want to add more movies to favourate list? Upgrade your plan Now </h1>
<a asp-action="Payments" asp-area="" asp-controller="Payment">Upgrade Plan</a>