@{
   var mySeries  = (List<Series>)ViewBag.Series;
}

<div id="shell">
    <div class="container-fluid my-5">

        <h2 class="text-danger fw-bold mb-2">Action</h2>

        <div class="row">

            <div class="col-12 m-auto">

                <div class="owl-carousel owl-theme">

                    @{
                        foreach (Movies movie in Model)
                        {
                            if (movie.Category_Id == 2)
                            {
                                <div class="item">

                                    <div class="card border-0 shadow rounded-bottom">
                                        <a asp-area="MovieSeries" asp-controller="MovieShow" asp-action="Details"
                               asp-route-id="@movie.id">
                                            <img style="width:180px; height:270px" src=@movie.Thumbnail_Path alt=""
                                            class="card-img-top">
                                        </a>
                                        <div class="card-body pt-0 pb-0 mb-0" style="background-color:#d1c2c3"></div>

                                    </div>

                                </div>
                            }
                        }
                    }

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid my-5">

        <h2 class="text-danger fw-bold mb-2">Comedy</h2>

        <div class="row">

            <div class="col-12 m-auto">

                <div class="owl-carousel owl-theme">

                    @{
                        foreach (Movies movie in Model)
                        {
                            if (movie.Category_Id == 1)
                            {
                                <div class="item">

                                    <div class="card border-0 shadow rounded-bottom">
                                        <a asp-area="MovieSeries" asp-controller="MovieShow" asp-action="Details"
                               asp-route-id="@movie.id">
                                            <img style="width:180px; height:270px" src=@movie.Thumbnail_Path alt=""
                                            class="card-img-top">
                                        </a>
                                        <div class="card-body pt-0 pb-0 mb-0" style="background-color:#d1c2c3"></div>

                                    </div>

                                </div>
                            }
                        }
                    }

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid my-5">

        <h2 class="text-danger fw-bold mb-2">Thriller</h2>

        <div class="row">

            <div class="col-12 m-auto">

                <div class="owl-carousel owl-theme">

                    @{
                        foreach (Movies movie in Model)
                        {
                            if (movie.Category_Id == 3)
                            {
                                <div class="item">

                                    <div class="card border-0 shadow rounded-bottom">
                                        <a asp-area="MovieSeries" asp-controller="MovieShow" asp-action="Details"
                               asp-route-id="@movie.id">
                                            <img style="width:180px; height:270px" src=@movie.Thumbnail_Path alt=""
                                            class="card-img-top">
                                        </a>
                                        <div class="card-body pt-0 pb-0 mb-0" style="background-color:#d1c2c3"></div>

                                    </div>

                                </div>
                            }
                        }
                    }

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid my-5">

        <h2 class="text-danger fw-bold mb-2" id="SeriesCat">Series</h2>

        <div class="row">

            <div class="col-12 m-auto">

                <div class="owl-carousel owl-theme">

                    @{
                        foreach (Series series in mySeries)
                        {

                            <div class="item">

                                <div class="card border-0 shadow rounded-bottom">
                                    <a asp-area="MovieSeries" asp-controller="MovieShow" asp-action="Details"
                               asp-route-id="@series.id">
                                        <img style="width:180px; height:270px" src=@series.Thumbnail_Path alt=""
                                             class="card-img-top">
                                    </a>
                                    <div class="card-body pt-0 pb-0 mb-0" style="background-color:#d1c2c3"></div>

                                </div>

                            </div>
                        }
                    }

                </div>

            </div>

        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>




<!-- Option 1: Bootstrap Bundle with Popper -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>

<script>

    $('.owl-carousel').owlCarousel({

        loop: true,

        margin: 15,

        nav: true,

        responsive: {

            0: {

                items: 1

            },

            600: {

                items: 2

            },

            1000: {

                items: 5

            }

        }

    })

</script>
