@model Movie_Hunter_FinalProject.Models.Episodes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Episodes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Episode_Path" class="control-label"></label>
                <input asp-for="Episode_Path" class="form-control" />
                <span asp-validation-for="Episode_Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration" class="control-label"></label>
                <input asp-for="duration" class="form-control" />
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="season" class="control-label"></label>
                <input asp-for="season" class="form-control" />
                <span asp-validation-for="season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="series_id" class="control-label"></label>
                <select asp-for="series_id" class="form-control" asp-items="ViewBag.series_id"></select>
                <span asp-validation-for="series_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
